[hyoo_js_eval_menu_page] {
	flex: 0 0 auto;
}

[hyoo_js_eval_code_page] {
	flex: 1 0 auto;
}

[hyoo_js_eval_code] {
	flex: 0 0 auto;
}

[hyoo_js_eval_result] {
	padding: var(--mol_gap_text);
}

[hyoo_js_eval_result_page] {
	flex: 1 0 40rem;
}

[hyoo_js_eval_error_icon] {
	color: var(--mol_theme_focus);
}
