[hyoo_js_eval_menu_page] {
	flex: 0 0 auto;
}

[hyoo_js_eval_menu] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_code_page] {
	flex: 1 0 auto;
}

[hyoo_js_eval_code_page_body] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_code] {
	flex: 0 0 auto;
}

[hyoo_js_eval_result] {
	padding: var(--mol_gap_text);
}

[hyoo_js_eval_result_page] {
	flex: 0 0 50%;
}

[hyoo_js_eval_result_page_body] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_error_icon] {
	pointer-events: none;
	color: var(--mol_theme_focus);
}
