[hyoo_js_eval_menu_page] {
	flex: 0 0 auto;
}

[hyoo_js_eval_menu] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_code_page] {
	flex: 1 0 auto;
}

[hyoo_js_eval_code_page_body] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_code] {
	flex: 0 0 auto;
}

[hyoo_js_eval_result_page] {
	flex: 0 0 50%;
}

[hyoo_js_eval_result_page_body] {
	padding: var(--mol_gap_block);
}

[hyoo_js_eval_dump] {
	min-height: 2.5rem;
	min-width: 2.5rem;
}
